.apresentacao {
    position: relative;
    width: 100%;
    background: url('/assets/img-background.jpg') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--branco);
    text-align: center;
    padding: 30px;
}

.slogan {
    font-family: var(--fonte-principal);
    font-weight: bold 700;
    font-size: 1rem;
    margin-bottom: 50%;
    padding: 50px 10px;
}

@media (min-width: 480px) {
    .slogan {
        font-size: 1.3rem;
    }
}

@media (min-width: 768px) {
    .apresentacao {
        padding: 50px;
    }

    .slogan {
        font-size: 1.5rem;
    }
}

@media (min-width: 1024px) {
    .apresentacao {
        height: 80vh;
        padding: 50px;
    }

    .slogan {
        font-size: 2rem;
    }
}
