.quem-somos {
	display: flex;
	flex-direction: column;
	background-color: var(--cor-de-fundo);
	font-family: var(--fonte-principal);
	padding: 10px;
}

.quem-somos img {
	display: block;
	margin: 20px auto 20px auto;
	width: 180px;
	height: auto;
}

.quem-somos-conteiner {
	gap: 15px;
}

.quem-somos-texto {
	font-size: 1rem;
	color: var(--cinza);
	text-align: start;
}

.swiper {
	width: 100%;
	margin: 40px auto;
}

.swiper-slide {
	display: flex;
	justify-content: center;
	padding-bottom: 10px;
}

.card-base {
	background: var(--azul-degrade);
	color: var(--branco);
	border-radius: 40px;
	padding: 20px 30px;
	align-items: center;
	height: 210px;
	margin: 0 auto;
}

.icone-base {
	font-size: 2rem;
}

.icone-missao {
	color: var(--vermelho);
}

.icone-visao {
	color: var(--amarelo);
}

.icone-negocio {
	color: var(--verde);
}

.card-base h3 {
	font-size: 1.5rem;
	color: var(--azul-claro);
}

.card-base p {
	font-size: 1rem;
	line-height: 2;
	margin-bottom: 10px;
}

.portfolio-swiper {
	width: 100%;
	overflow: hidden;
}

.portfolio-swiper .swiper-wrapper {
	transition-timing-function: linear !important;
}

.portfolio-swiper .swiper-slide {
	width: auto !important;
	/* evita “encaixar” slides fixos */
	display: flex;
	justify-content: center;
	align-items: center;
}

.portfolio-logo {
	width: 350px;
	height: 200px;
	object-fit: contain;
}

@media (min-width: 768px) {
	.swiper-slide {
		padding: 0 10px 0 10px;
	}

	.card-base {
		height: 290px;
		margin: 0 auto;
	}

	.portfolio-logo {
		width: 140px;
		height: auto;
	}
}

@media (min-width: 1024px) {
	.quem-somos {
		padding: 0;
	}

	.quem-somos-conteiner {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0;
	}

	.quem-somos-texto {
		font-size: 1.2rem;
		padding: 10px;
	}

	.swiper {
		margin: 0;
	}

	.card-base {
		height: 20vh;
		max-width: 450px;
		margin: 0 auto;
	}

	.icone-base {
		font-size: 2.15rem;
	}

	.card-base h3 {
		font-size: 1.65rem;
	}

	.card-base p {
		font-size: 1.10rem;
		line-height: 1.35;
	}
}

@media (min-width: 1440px) {
	.quem-somos {
		padding: 0;
	}

	.quem-somos-conteiner {
		padding: 0;
	}

	.quem-somos-texto {
		font-size: 1.2rem;
		padding: 10px;
		max-width: 1920px;
	}

	.swiper {
		max-width: 1600px;
		margin: 0;
	}

	.swiper-slide {
		padding: 0 5px;
	}

	.card-base {
		height: 20vh;
		max-width: 500px;
		margin: 0 auto;
	}

	.icone-base {
		font-size: 2.25rem;
	}

	.card-base h3 {
		font-size: 1.8rem;
	}

	.card-base p {
		font-size: 1.25rem;
		line-height: 1.5;
	}

	.portfolio-swiper {
		max-width: 1200px;
		width: auto;
	}
}