@import url(./styles/header.css);
@import url(./styles/home.css);
@import url(./styles/quem-somos.css);
@import url(./styles/produtos.css);
@import url(./styles/contatos.css);
@import url(./styles/footer.css);

:root {
	
	/* Colors */
	--cor-de-fundo: #ffffff;
	--branco: #ffffff;
	--azul-degrade: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);
	--azul: #002f52;
	--cinza: #474646;
	--cinza-claro: #858585;
	--preto: #000000;
	--vermelho: #e63946;
	--amarelo: #f4a261;
	--verde: #229c36;
	--azul-claro: #00b4ff;

	/* Fonts */
	--fonte-principal: "Poppins", sans-serif;

	/* Container max-widht */
	--size-max: 1440px;

	/* Padding and Width from Navbar */
	--nav-w: min(90%, var(--size-max));
	--nav-pad: 12px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	scroll-behavior: smooth;
}

body {
	background-color: var(--cor-de-fundo);
	font-family: var(--fonte-principal), sans-serif;
	box-shadow: 0px 0px 26px 0px rgba(133, 133, 133, 1);
	-webkit-box-shadow: 0px 0px 26px 0px rgba(133, 133, 133, 1);
	-moz-box-shadow: 0px 0px 26px 0px rgba(133, 133, 133, 1);
	max-width: 1920px;
	height: auto;
	margin: 0 auto;
}
