@import url(./styles/header.css);
@import url(./styles/home.css);
@import url(./styles/quem-somos.css);
@import url(./styles/produtos.css);
@import url(./styles/contatos.css);
@import url(./styles/footer.css);


:root {
	--cor-de-fundo: #FFFFFF;
	--branco: #FFFFFF;
	--azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
	--fonte-principal: "Poppins";
	--azul: #002F52;
	--cinza: #474646;
	--cinza-claro: #858585;
	--preto: #000000;
	--vermelho: #E63946;
	--amarelo: #f4A261;
	--verde: #229c36;
	--azul-claro: #00b4ff;
	;
}

html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

@media (min-width: 1440px) {
	body {
		background-color: var(--cor-de-fundo);
		box-shadow: 0px 0px 26px 0px rgba(133, 133, 133, 1);
		-webkit-box-shadow: 0px 0px 26px 0px rgba(133, 133, 133, 1);
		-moz-box-shadow: 0px 0px 26px 0px rgba(133, 133, 133, 1);
		width: auto;
		max-width: 1440px;
		height: auto;
		margin: 0 auto;
		border-radius: 30px;
	}

	main {
		border-radius: 30px;
		overflow: hidden;
		margin-top: 10px;
		margin-bottom: 10px;
	}
}