@import url(./styles/header.css);
@import url(./styles/home.css);
@import url(./styles/about.css);
@import url(./styles/products.css);
@import url(./styles/contact.css);
@import url(./styles/footer.css);

:root {
	/* Colors */
	--cor-de-fundo: #ffffff;
	--branco: #ffffff;
	--azul-degrade: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);
	--azul: #002f52;
	--cinza: #474646;
	--cinza-claro: #858585;
	--preto: #000000;
	--vermelho: #e63946;
	--amarelo: #f4a261;
	--verde: #229c36;
	--azul-claro: #00b4ff;

	/* Fonts */
	--fonte-principal: "Poppins", sans-serif;

	/* Container max-widht */
	--size-max: 1440px;

	/* Padding and width from Navbar */
	--nav-w: min(90%, var(--size-max));
	--nav-pad-x: 12px; /* padding horizontal do .navbar */
	--nav-top: 12px; /* distância do topo do viewport */
	--gap-y: 8px; /* respiro entre nav e menu */
	--nav-h: 0px; /* preenchida via JS abaixo */

	/* Box shadow */
	--shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.14), 0 1px 2px rgba(0, 0, 0, 0.12);
	--shadow-md: 0 4px 12px rgba(0, 0, 0, 0.18), 0 2px 6px rgba(0, 0, 0, 0.16);
	--shadow-lg: 0 10px 30px rgba(0, 0, 0, 0.24), 0 6px 12px rgba(0, 0, 0, 0.20);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	scroll-behavior: smooth;
}

body {
	background-color: var(--cor-de-fundo);
	font-family: var(--fonte-principal), sans-serif;
	box-shadow: 0px 0px 26px 0px rgba(133, 133, 133, 1);
	-webkit-box-shadow: 0px 0px 26px 0px rgba(133, 133, 133, 1);
	-moz-box-shadow: 0px 0px 26px 0px rgba(133, 133, 133, 1);
	max-width: 1920px;
	height: auto;
	margin: 0 auto;
}
