@import url(./styles/header.css);
@import url(./styles/home.css);
@import url(./styles/quem-somos.css);
@import url(./styles/produtos.css);
@import url(./styles/contatos.css);
@import url(./styles/footer.css);


:root {
	--cor-de-fundo: #FFFFFF;
	--branco: #FFFFFF;
	--azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
	--fonte-principal: "Poppins";
	--azul: #002F52;
	--cinza: #474646;
	--cinza-claro: #858585;
	--preto: #000000;
	--vermelho: #FF0000;
}

html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}