#carrossel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--azul-degrade);
    padding-top: 100px;
}

.slogan {
    font-family: var(--fonte-principal);
    font-weight: bold 700;
    color: var(--branco);
    text-align: center;
    padding-bottom: 10px;
}


.carousel-item img {
    max-height: 80vh;
    margin-bottom: 20px;
}