#contatos {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: var(--azul-degrade);
    font-family: var(--fonte-principal);
    color: var(--branco);
}

.midias {
    font-size: 36px;
}

.midias ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    gap: 3vh;
    padding: 10px 10px;
}

.midias a {
    color: var(--preto);
    padding: 5px;
}

.midias a:hover {
    color: var(--branco);
    transition: 1s;
}

.atendimento {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
}

.contatos {
    display: flex;
    flex-direction: column;
}

.fa-solid {
    padding: 5px;
}

.maps {
    padding-bottom: 10px;
}


@media (min-width: 720px) and (max-width: 1023px) {
    .atendimento {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
}

@media (min-width: 1024px) {
    .atendimento {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
}