.footer {
	display: block;
	background-color: var(--cor-de-fundo);
	font-family: var(--fonte-principal);
	font-size: 1rem;
	color: var(--cinza);
	padding: 10px 10px;
}

.midias ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	gap: 3vh;
}

.midias a {
	color: var(--cinza);
}

.midias a:hover {
	color: var(--azul);
	transition: 1s;
}

.midias i {
	font-size: 2rem;
}

.horario {
	display: block;
	text-align: center;
	margin: 1em 0;
	line-height: 1.5;
}

.marca {
	display: block;
	text-align: center;
	margin: 0.5em 0;
}

.copyright {
	display: block;
	text-align: center;
	margin-top: 0.5em;
}

.copyright a {
	color: var(--cinza);
}