#produtos {
    text-align: center;
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    padding: 0px 10px;
}

.produto h2 {
    font-weight: bold 700;
    color: var(--cinza);
    text-align: center;
    padding-bottom: 10px;
}

.produto p {
    color: var(--cinza);
    text-align: start;
    padding-bottom: 30px;
}

.card {
    border: none;
    -webkit-box-shadow: 0px 0px 10px 1px var(--cinza-claro);
    box-shadow: 0px 0px 10px 1px var(--cinza-claro);
}

.card:hover,
.custom-btn:hover {
    transform: scale(1.1);
    transition: .5s;
}

.custom-btn {
    background-image: var(--azul-degrade);
    color: white;
    border: none;
}


@media (min-width: 1024px) {
    #produtos {
        padding: 0 100px;
    }
}