#produtos {
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: var(--cor-de-fundo);
	font-family: var(--fonte-principal);
}

.produto h2 {
	font-weight: bold 700;
	color: var(--cinza);
	text-align: center;
	padding-bottom: 10px;
}

.produto p {
	color: var(--cinza);
	text-align: start;
	padding-bottom: 30px;
}

.produto h2,
.produto p {
	padding: 0 10px;
}

.card-modal-carrossel {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: .5rem;
	padding-bottom: 50px;
}

.card-group {
	padding-bottom: 5px;
}

.card {
	border-radius: 5px; 
	border: none;
	width: 11rem;
	height: auto;
	gap: 5px;
	-webkit-box-shadow: 0px 0px 10px 1px var(--cinza-claro);
	box-shadow: 0px 0px 10px 1px var(--cinza-claro);
	background: var(--cor-de-fundo);
}

.card-title,
.modal-title {
	font-size: 1rem;
	text-align: center;
}

.card-img-top {
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

.card-text,
.modal-text {
	font-size: .8rem;
}

.custom-btn {
	width: 90%;
	background-image: var(--azul-degrade);
	color: white;
	border: none;
	font-size: 1rem;
}

.modal {
	width: 100%;
	height: auto;
}

.img-modal {
	width: 100%;
	height: 100%;
}

.modal-footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.btn-orcamento {
	background-image: var(--azul-degrade);
	color: white;
	border: none;
}

.btn-danger {
	background-image: var(--vermelho);
	color: white;
	border: none;
}

.btn-danger,
.btn-orcamento {
	font-size: 1rem;
	padding: 10px 40px;
}

.btn-danger:hover,
.btn-orcamento:hover {
	color: var(--preto);
	transition: 1s;
}


@media (min-width: 768px) and (max-width: 1023px) {
	.card-modal-carrossel {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		padding-bottom: 60px;
	}

	.card {
		border-radius: 5px; 
		border: none;
		width: 13rem;
		height: auto;
		gap: 10px;
		-webkit-box-shadow: 0px 0px 10px 1px var(--cinza-claro);
		box-shadow: 0px 0px 10px 1px var(--cinza-claro);
		background: var(--cor-de-fundo);
	}

	.card-img-top {
		width: 100%;
		height: 100%;
		border-radius: 5px;
	}
}

@media (min-width: 1024px) {
	#produtos {
		padding: 0 100px;
		padding-top: 90px;
	}

	.card-modal-carrossel {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap: 2rem;
		padding-bottom: 70px;
	}

	.card {
		border: none;
		border-radius: 5px;
		width: 16rem;
		height: auto;
		gap: 15px;
		-webkit-box-shadow: 0px 0px 10px 1px var(--cinza-claro);
		box-shadow: 0px 0px 10px 1px var(--cinza-claro);
		background: var(--cor-de-fundo);
	}

	.card-img-top {
		width: 100%;
		height: 100%;
		border-radius: 5px;
	}

	.card:hover,
	.custom-btn:hover {
		transform: scale(1.1);
		transition: .5s;
	}
}