#produtos {
    display: block;
    flex-direction: column;
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    padding: 0 10px;
}

.produto h2 {
    font-weight: bold 700;
    color: var(--cinza);
    text-align: center;
    padding-bottom: 10px;
}

.produto p {
    color: var(--cinza);
    text-align: justify;
    padding: 0 5px;
    padding-bottom: 30px;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    padding-bottom: 7vh;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: var(--cor-card-background);
    box-shadow: var(--preto);
    padding: 1rem 1.5rem;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 10px 2px var(--cinza-claro); 
    box-shadow: 0px 0px 10px 2px var(--cinza-claro);
    width: 200px;
    height: 300px;
    font-family: var(--fonte-principal);
    color: var(--cinza);
}

.card img {
    width: 100%;
    border-radius: 5px;
}

.card h3 {
    font-size: 100%;
    margin: 16px 0;
}

.card span {
    font-weight: 300;
    max-width: 240px;
    font-size: 80%;
    margin-bottom: 32px;
}

.card button {
    cursor: pointer;
    padding: 0.5rem 2rem;
    border-radius: 20px;
    border: 0;
    font-size: 80%;
    font-weight: 500;
    color: var(--branco);
}

button {
    background: var(--azul-degrade)
}

@media (min-width: 720px) and (max-width: 1023px) {
    #produtos p{
        padding-bottom: 50px;
    }

    .cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

@media (min-width: 1024px) and (max-width: 1599px) {
    #produtos { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 100px;
        max-width: 100vw;
        min-height: 100vh;
    }

    .cards {
        display: flex;
        flex-direction: row;
    }
}

@media (min-width: 1600px) {
    #produtos {
        padding: 0 100px;
        max-width: 100vw;
        min-height: 100vh;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        text-align: center;
    }

    .produto {
        max-width: 50%;
    }

    .cards {
        max-width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .card:hover {
        transform: scale(1.1);
        transition: .5s;
    }
}