#quem-somos {
  padding: 100px 10px;
  background-color: var(--cor-de-fundo);
  font-family: var(--fonte-principal);
}

.quem-somos-titulo {
  font-weight: bold 700;
  color: var(--cinza);
  text-align: center;
  padding-bottom: 10px;
}

.quem-somos-texto {
  color: var(--cinza);
  text-align: start;
}

.portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.logo-portfolio {
  width: 20%;
  max-height: 30vh;
  background: transparent;
}

@media (min-width: 1024px) {
  #quem-somos {
    padding: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}