.quem-somos {
	display: flex;
	flex-direction: column;
	background-color: var(--cor-de-fundo);
	font-family: var(--fonte-principal);
	padding: 60px 10px 0 10px;
}

.quem-somos-titulo {
	font-size: 2rem;
	font-weight: bold 700;
	color: var(--cinza);
	text-align: center;
	padding-bottom: 10px;
}

.quem-somos-texto {
	font-size: 1rem;
	color: var(--cinza);
	text-align: start;
}

.slider-portfolio {
	display: none;
}

.mobile-portfolio {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.mobile-portfolio-img {
	width: 100px;
	height: auto;
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-1750px);
	}
}

@media (min-width: 769px) {
	.quem-somos {
		padding: 30px;
	}

	.mobile-portfolio {
		display: none;
	}

	.slider-portfolio {
		display: block;
		height: auto;
		margin: auto;
		overflow: hidden;
		position: relative;
		width: 90%;
	}

	.slider-portfolio::before,
	.slider-portfolio::after {
		content: "";
		height: 200px;
		position: absolute;
		width: 350px;
		z-index: 2;
	}

	.slider-portfolio::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	.slider-portfolio::before {
		left: 0;
		top: 0;
	}

	.slider-portfolio .slide-track {
		animation: scroll 40s linear infinite;
		display: flex;
		width: 6300px;
	}

	.slider-portfolio .slide-portfolio {
		height: 200px;
		width: 350px;
	}
}

@media (min-width: 1024px) {
	.quem-somos {
		padding: 70px 100px 0 100px;
	}
}